# Regiment

In [1]:
import pandas as pd

### Paso 2. Cree el DataFrame con los siguientes valores:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asígnalo a una variable llamada regiment.
#### No olvides nombrar cada columna

In [3]:
regiment = pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Paso 4. ¿Cuál es la puntuación media preTestScore del regimiento Nighthawks?

In [7]:
regiment.groupby("company").describe()

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

In [4]:
regiment.preTestScore.mean()

11.083333333333334

regiment
Nighthawks    15.25
Name: preTestScore, dtype: float64

### Paso 5. Presentar estadísticas generales por empresa

In [8]:
regiment.groupby("company").preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Paso 6. ¿Cuál es la media de la puntuación preTest de cada empresa?

In [9]:
regiment.groupby(["regiment","company"]).preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Paso 7. Presentar las puntuaciones medias preTest agrupadas por regimiento y compañía.

In [10]:
regiment.groupby(["regiment","company"]).preTestScore.mean().unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Paso 8. Presentar las puntuaciones medias preTestScores agrupadas por regimiento y compañía sin indexación jerárquica.

In [13]:
regiment.pivot_table("preTestScore",index="regiment",columns = "company")

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [17]:
o_g = regiment.groupby(["regiment","company"])
o_g = o_g.apply(lambda df: df.sort_values(by=["regiment","company"]))
o_g.drop(["regiment"], axis= 1, inplace=True)
o_g.drop(["company"], axis= 1, inplace=True)
o_g

                           name  preTestScore  postTestScore
regiment   company
Dragoons   1st     4      Cooze             3             70
                   5      Jacon             4             25
           2nd     6     Ryaner            24             94
                   7       Sone            31             57
Nighthawks 1st     0     Miller             4             25
                   1   Jacobson            24             94
           2nd     2        Ali            31             57
                   3     Milner             2             62
Scouts     1st     8      Sloan             2             62
                   9      Piger             3             70
           2nd     10     Riani             2             62
                   11       Ali             3             70

### Paso 10. ¿Cuál es el número de observaciones en cada regimiento y compañía

In [20]:
#regiment.groupby("company").preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Paso 11. Iterar sobre un grupo e imprimir el nombre y todos los datos del regimiento

In [21]:
for name, group in regiment.groupby("regiment"):
    print(name)

Dragoons
Nighthawks
Scouts